<!DOCTYPE html>
<html lang="en">
</head>
<meta name="viewport" content = "width=device-width, initial-scale=1.0"
  ></title>Meu site ExpressJS</title>
<style>
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
}
.menu{
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
</style>
/>
<ul>
  <a href="/">HOME</a>
  <a href="/sobre">Sobre</a>
</ul>
    <h3>Bem Vindo(a) a home!</h3>
    <p>lorem5</p>
  </main>
  <body></body>
</html>
